@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(MaterialIcons-Regular.woff2) format('woff2'),
         url(MaterialIcons-Regular.woff) format('woff'),
         url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons, .material-icon {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

a.material-icons, a.material-icon,
button.material-icons, button.material-icon {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

a.material-icons.disabled, a.material-icons[disabled], a.material-icons:disabled,
a.material-icon.disabled, a.material-icon[disabled], a.material-icon:disabled,
button.material-icons.disabled, button.material-icons[disabled], button.material-icons:disabled,
button.material-icon.disabled, button.material-icon[disabled], button.material-icon:disabled {
    cursor: default;
}

.color a.material-icons, .color a.material-icon,
.color button.material-icons, .color button.material-icon {
    color: inherit;
}

.color a.material-icons.disabled, .color a.material-icons[disabled], .color a.material-icons:disabled,
.color a.material-icon.disabled, .color a.material-icon[disabled], .color a.material-icon:disabled,
.color button.material-icons.disabled, .color button.material-icons[disabled], .color button.material-icons:disabled,
.color button.material-icon.disabled, .color button.material-icon[disabled], .color button.material-icon:disabled {
    color: inherit;
}


a.material-icons:before, a.material-icon:before,
button.material-icons:before, button.material-icon:before {
    content: '';
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    height: 48px;
    width: 48px;
    transition: all 0.2s;
    opacity: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

a.material-icons:focus:before, a.material-icon:focus:before,
button.material-icons:focus:before, button.material-icon:focus:before {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(153, 153, 153, 0.2);
}

a.material-icons:active:before, a.material-icon:active:before,
button.material-icons:active:before, button.material-icon:active:before {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(153, 153, 153, 0.4);
}

a.material-icons.disabled:before, a.material-icons[disabled]:before, a.material-icons:disabled:before,
a.material-icon.disabled:before, a.material-icon[disabled]:before, a.material-icon:disabled:before,
button.material-icons.disabled:before, button.material-icons[disabled]:before, button.material-icons:disabled:before,
button.material-icon.disabled:before, button.material-icon[disabled]:before, button.material-icon:disabled:before {
    display: none;
}