.visible-sm, .visible-sm-block {
    display: block;
}

table.visible-sm {
    display: table;
}

tr.visible-sm {
    display: table-row;
}

th.visible-sm, td.visible-sm {
    display: table-cell;
}

.visible-sm-inline {
    display: inline;
}

.visible-sm-inline-block {
    display: inline-block;
}

.visible-md, .visible-md-block, .visible-md-inline, .visible-md-inline-block,
.visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

/* LARGE SCREEN SIZE */
@media (min-width: 840px) {
    .visible-lg, .visible-lg-block {
        display: block;
    }

    table.visible-lg {
        display: table;
    }

    tr.visible-lg {
        display: table-row;
    }

    th.visible-lg, td.visible-lg {
        display: table-cell;
    }

    .visible-lg-inline {
        display: inline;
    }

    .visible-lg-inline-block {
        display: inline-block;
    }

    .visible-sm, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block,
    .visible-md, .visible-md-block, .visible-md-inline, .visible-md-inline-block,
    .hidden-lg {
        display: none;
    }
}

/* MEDIUM SCREEN SIZE */
@media (min-width: 600px) and (max-width: 839px) {
    .visible-md, .visible-md-block {
        display: block;
    }

    table.visible-md {
        display: table;
    }

    tr.visible-md {
        display: table-row;
    }

    th.visible-md, td.visible-md {
        display: table-cell;
    }

    .visible-md-inline {
        display: inline;
    }

    .visible-md-inline-block {
        display: inline-block;
    }

    .visible-sm, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block,
    .visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block,
    .hidden-md {
        display: none;
    }
}

/* SMALL SCREEN SIZE */
@media (max-width: 599px) {
    .hidden-sm {
        display: none;
    }
}