html, body {
    height: 100%;
}

.fade-out {
    opacity: 0 !important;
}

.fade-in {
    opacity: 1 !important;
}

.plain-page {
    padding: 1px 0;
}

.plain-page .top-logo {
    margin: 25px 0 20px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    padding: 0 44px;
    font-size: 20px;
}

.plain-page .top-logo > img {
    height: 100%;
    width: auto;
}

.plain-page .banner {
    text-align: center;
    padding: 0 44px;
}

.plain-page .banner > h1 {
    font-size: 29pt;
    margin: 0 0 15px;
    font-family: 'Open Sans', arial;
    font-weight: 300;
}

.plain-page .banner > h3 {
    margin: 0 0 15px;
    font-family: 'Open Sans', arial;
    font-weight: 400;
}

.plain-page .sign-in {
    padding: 32px;
    background-color: #F7F7F7;
    width: 354px;
    max-width: 100%;
    margin: 0 auto 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.plain-page .sign-in .img {
    margin: 0 0 10px;
    text-align: center;
}

.plain-page .sign-in .img > img {
    max-height: 50px;
    width: auto;
}

.plain-page .sign-in a.action-button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    line-height: 34px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
}

.plain-page .error-page {
    max-width: 100%;
    width: 720px;
    margin: 32px auto;
    background-color: #f7f7f7;
    border-radius: 2px;
}

.plain-page .error-page .header {
    position: relative;
    padding: 64px 32px;
    font-size: 48pt;
}

.plain-page .error-page .header .btn.floating {
    position: absolute;
    margin: 0;
    bottom: -28px;
    right: 28px;
}

.plain-page .error-page .body {
    padding: 32px;
    font-size: 18pt;
}

#side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 256px;
    z-index: 16000;
    border-right-width: 1px;
    border-right-style: solid;
    transition: left 0.3s;
    overflow-y: auto;
}

#side-nav > .side-nav-container {
    position: relative;
    padding-bottom: 96px;
    min-height: 100%;
}

#side-nav > .side-nav-container > .logo {
    height: 64px;
    line-height: 63px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#side-nav > .side-nav-container > .logo > a {
    display: block;
    margin: 0;
    padding: 0 24px;
    line-height: inherit;
    height: 100%;
    font-family: 'roboto_bold', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

html:lang(en-US) #side-nav > .side-nav-container > .logo > a,
html[lang] #side-nav > .side-nav-container > .logo > a:lang(en-US) {
    font-family: 'roboto_bold', sans-serif;
}

html:lang(ar-BH) #side-nav > .side-nav-container > .logo > a,
html[lang] #side-nav > .side-nav-container > .logo > a:lang(ar-BH) {
    font-family: 'arabic_notosans_bold', 'roboto_bold', sans-serif;
}

#side-nav > .side-nav-container > .logo > a > img {
    max-height: 100%;
    width: auto;
    padding: 16px 0;
}

#side-nav > .side-nav-container .list .list-item a:focus,
#side-nav > .side-nav-container .list .list-item button:focus,
.light-theme #side-nav > .side-nav-container .list .list-item a:focus,
.light-theme #side-nav > .side-nav-container .list .list-item button:focus,
#side-nav.light-theme > .side-nav-container .list .list-item a:focus,
#side-nav.light-theme > .side-nav-container .list .list-item button:focus {
    background-color: rgba(0, 0, 0, 0.04);
}

.dark-theme #side-nav > .side-nav-container .list .list-item a:focus,
.dark-theme #side-nav > .side-nav-container .list .list-item button:focus,
#side-nav.dark-theme > .side-nav-container .list .list-item a:focus,
#side-nav.dark-theme > .side-nav-container .list .list-item button:focus {
    background-color: rgba(255, 255, 255, 0.04);
}


#side-nav > .side-nav-container .list .list-item > a,
#side-nav > .side-nav-container .list .list-item > button {
    padding: 0 8px;
}

#side-nav > .side-nav-container .list .list-item > a,
#side-nav > .side-nav-container .list .list-item > button,
.light-theme #side-nav > .side-nav-container .list .list-item > a,
.light-theme #side-nav > .side-nav-container .list .list-item > button,
#side-nav.light-theme > .side-nav-container .list .list-item > a,
#side-nav.light-theme > .side-nav-container .list .list-item > button {
    color: rgba(0, 0, 0, 0.87);
}
.dark-theme #side-nav > .side-nav-container .list .list-item > a,
.dark-theme #side-nav > .side-nav-container .list .list-item > button,
#side-nav.dark-theme > .side-nav-container .list .list-item > a,
#side-nav.dark-theme > .side-nav-container .list .list-item > button {
    color: rgba(255, 255, 255, 1);
}

#side-nav > .side-nav-container .list .list-item.active > a,
#side-nav > .side-nav-container .list .list-item.current > a,
#side-nav > .side-nav-container .list .list-item.active > button,
#side-nav > .side-nav-container .list .list-item.current > button,
#side-nav > .side-nav-container .list .list-item.active .icon,
#side-nav > .side-nav-container .list .list-item.current .icon {
    color: inherit;
}

#side-nav > .side-nav-container .list .list-item .sub-menu {
    display: none;
}

#side-nav > .side-nav-container .list .list-item.active > .sub-menu,
#side-nav > .side-nav-container .list .list-item.current > .sub-menu {
    display: block;
}

#side-nav > .side-nav-container .list .list-item > .sub-menu > a {
    line-height: 33px;
    padding: 0 24px 0 46px;
    font-size: 10pt;
    display: block;
    text-decoration: none;
}
html[dir="ltr"] #side-nav > .side-nav-container .list .list-item > .sub-menu > a,
html[dir] #side-nav > .side-nav-container .list[dir="ltr"] .list-item > .sub-menu > a {
    padding: 0 24px 0 46px;
}
html[dir="rtl"] #side-nav > .side-nav-container .list .list-item > .sub-menu > a,
html[dir] #side-nav > .side-nav-container .list[dir="rtl"] .list-item > .sub-menu > a {
    padding: 0 46px 0 24px;
}

#side-nav.dark-theme > .side-nav-container .list .list-item > .sub-menu > a {
    color: rgba(255, 255, 255, 0.7);
}

#side-nav > .side-nav-container .list .list-item > .sub-menu > a .material-icon,
#side-nav > .side-nav-container .list .list-item > .sub-menu > a .material-icons {
    line-height: 33px;
    height: 33px;
    margin-right: 16px;
    width: 24px;
    float: left;
}

#side-nav > .side-nav-container .list .list-item.active > .sub-menu > a.active,
#side-nav > .side-nav-container .list .list-item.current > .sub-menu > a.active {
    color: inherit;
    font-family: 'roboto_bold';
}

html:lang(en-US) #side-nav > .side-nav-container .list .list-item.active > .sub-menu > a.active,
html:lang(en-US) #side-nav > .side-nav-container .list .list-item.current > .sub-menu > a.active,
html[lang] #side-nav > .side-nav-container .list .list-item.active > .sub-menu > a.active:lang(en-US),
html[lang] #side-nav > .side-nav-container .list .list-item.current > .sub-menu > a.active:lang(en-US) {
    font-family: 'roboto_bold', sans-serif;
}

html:lang(ar-BH) #side-nav > .side-nav-container .list .list-item.active > .sub-menu > a.active,
html:lang(ar-BH) #side-nav > .side-nav-container .list .list-item.current > .sub-menu > a.active,
html[lang] #side-nav > .side-nav-container .list .list-item.active > .sub-menu > a.active:lang(ar-BH),
html[lang] #side-nav > .side-nav-container .list .list-item.current > .sub-menu > a.active:lang(ar-BH) {
    font-family: 'arabic_notosans_bold', 'roboto_bold', sans-serif;
}

#side-nav > .side-nav-container > .copyright {
    padding: 24px;
    border-top-width: 1px;
    border-top-style: solid;
    font-size: 10pt;
    line-height: 24px;
    height: 96px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#page-content-overlay {
    content: '';
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 15999;
    display: none;
}

#page-content {
    padding-top: 64px;
    padding-bottom: 100px;
    margin-left: 256px;
    transition: margin 0.5s;
    min-height: 100%;
}

#page-content > .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    margin-left: 256px;
    padding: 0 24px;
    z-index: 4000;
    transition: box-shadow 0.5s, margin 0.5s, background 0.2s;
}

#page-content > .top-bar.blend {
    /*background: transparent;*/
}

#page-content > .top-bar.active {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
                0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

#page-content > .top-bar .section-title {
    line-height: 64px;
    font-size: 14pt;
    transition: all 0.25s;
    opacity: 0;
    display: inline-block;
}

#page-content > .top-bar .section-title.persistent {
    opacity: 1;
}

#page-content > .top-bar > .side-nav-toggle {
    display: none;
    height: 46px;
    width: 46px;
    text-align: center;
    padding: 11px;
    margin: 9px 10px 0 -12px;
    border-width: 0;
    background: transparent;
    float: left;
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.5s;
}

#page-content > .top-bar > .side-nav-toggle:hover {
    opacity: 1;
}

#page-content > .top-bar > .side-nav-toggle:focus {
    opacity: 1;
    border-style: solid;
    border-width: 1px;
    -webkit-outline: none;
    -moz-outline: none;
    outline: none;
}

#page-content > .top-bar .user-wrapper {
    height: 40px;
    float: right;
    margin: 12px 0 0;
}

#page-content > .top-bar .user-wrapper .select-btn {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

#page-content > .top-bar .user-wrapper .select-btn .img {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    float: right;
}

#page-content > .top-bar .user-wrapper .select-menu.right {
    right: -12px;
    top: 0;
}

#page-content > .page-header {
    padding-top: 80px;
    margin-top: -64px;
}

#page-content > .page-header .page-title {
    padding: 50px 0 40px;
    font-size: 42pt;
    transition: all 0.25s;
}

#page-content section {
    padding-top: 60px;
}

#page-content .chapter .chapter-title {
    font-size: 26pt;
    line-height: 1.2em;
    margin: 0 0 30px;
}

#page-content .chapter .chapter-intro {
    font-size: 15pt;
    line-height: 1.6em;
    margin: 0 0 32px;
}

#page-content .note {
    border: solid 1px rgba(0, 0, 0, 0.15);
    font-size: 12pt;
    line-height: 24px;
    margin: 16px 0;
    padding: 12px 24px 12px 60px;
}

#page-content .note .material-icon,
#page-content .note .material-icons {
    float: left;
    margin-left: -36px;
}

#page-content .note ul, #page-content .note ol {
    margin: 0;
}

@media (max-width: 1439px) {
    #side-nav {
        left: -256px;
    }

    #page-content, #page-content > .top-bar {
        margin-left: 0;
    }

    #page-content > .top-bar > .side-nav-toggle {
        display: inline-block;
    }

    body.side-nav-expand {
        overflow: hidden;
    }

    body.side-nav-expand #side-nav {
        left: 0px;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                    0 6px 30px 5px rgba(0, 0, 0, 0.12),
                    0 16px 24px 2px rgba(0, 0, 0, 0.14),
                    0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    body.side-nav-expand #page-content-overlay {
        display: block;
    }
}

@media (max-width: 1279px) {
    .gallery-row .tile {
        width: 33.33333333%;
    }
}

@media (max-width: 839px) {
    #page-content > .top-bar > .side-nav-toggle {
        margin-right: 0;
    }

    #page-content .page-header .page-title {
        padding: 0;
        font-size: 18pt;
    }
}

@media (max-width: 719px) {
    .plain-page .error-page {
        max-width: 92%;
        margin: 32px 4%;
    }

    .plain-page .error-page .header {
        font-size: 20pt;
    }

    .plain-page .error-page .body {
        font-size: 14pt;
    }
}

@media (max-width: 599px) {
    .plain-page .banner > h1 {
        font-size: 17pt;
    }

    #page-content .note {
        padding: 12px 24px 12px 48px;
    }
}