@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff'),
         url('../fonts/roboto-bold.ttf') format('truetype'),
         url('../fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobolditalic';
    src: url('../fonts/roboto-bolditalic.eot');
    src: url('../fonts/roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bolditalic.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic.woff') format('woff'),
         url('../fonts/roboto-bolditalic.ttf') format('truetype'),
         url('../fonts/roboto-bolditalic.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light.eot');
    src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto-light.woff') format('woff'),
         url('../fonts/roboto-light.ttf') format('truetype'),
         url('../fonts/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolightitalic';
    src: url('../fonts/roboto-lightitalic.eot');
    src: url('../fonts/roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-lightitalic.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic.woff') format('woff'),
         url('../fonts/roboto-lightitalic.ttf') format('truetype'),
         url('../fonts/roboto-lightitalic.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-regularitalic.eot');
    src: url('../fonts/roboto-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regularitalic.woff2') format('woff2'),
         url('../fonts/roboto-regularitalic.woff') format('woff'),
         url('../fonts/roboto-regularitalic.ttf') format('truetype'),
         url('../fonts/roboto-regularitalic.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}