* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-outline: 0;
    -moz-outline: 0;
    outline: 0;

    font-family: 'robotoregular', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'robotoregular', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'robotoregular', sans-serif;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0 0 0.5em;
    max-width: 40em;
}

b, .bold {
    font-family: 'robotobold', sans-serif;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

i, .italic {
    font-family: 'robotoitalic', sans-serif;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

a {
    color: #039BE5;
    outline: 0;
    text-decoration: none;
}

a:focus {
    text-decoration: underline;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.container, .container-fluid, .container-standard {
    margin: 0 auto;
    padding: 0 8px;
    max-width: 100%;
}

.container-standard {
    max-width: 1400px;
}

.clearfix, .row {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '';
    display: table;
}

.clearfix:after, .row:after {
    clear: both;
}

.hidden {
    display: none !important;
}

.visible {
    display: initial !important;
}

.row.row-nested {
    margin: 0 -8px;
}

.col {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;

    position: relative;
    min-height: 1px;
    padding: 0 8px;
    float: left;
    width: 100%;
}

/* X-SMALL CLASSES */
.col.xsmall-1, .col.xsmall-2, .col.xsmall-3, .col.xsmall-4 {
    float: left;
}

.col.xsmall-1 {
    width: 25%;
}
.col.xsmall-offset-1 {
    margin-left: 25%;
}
.col.xsmall-push-1 {
    left: 25%;
}
.col.xsmall-pull-1 {
    right: 25%;
}

.col.xsmall-2 {
    width: 50%;
}
.col.xsmall-offset-2 {
    margin-left: 50%;
}
.col.xsmall-push-2 {
    left: 50%;
}
.col.xsmall-pull-2 {
    right: 50%;
}

.col.xsmall-3 {
    width: 75%;
}
.col.xsmall-offset-3 {
    margin-left: 75%;
}
.col.xsmall-push-3 {
    left: 75%;
}
.col.xsmall-pull-3 {
    right: 75%;
}

.col.xsmall-4 {
    width: 100%;
}
.col.xsmall-offset-4 {
    margin-left: 100%;
}
.col.xsmall-push-4 {
    left: 100%;
}
.col.xsmall-pull-4 {
    right: 100%;
}

/* X-SMALL-EXTENDED SCREEN SIZE */
@media (min-width: 400px) and (max-width: 479px) {
    .container {
        width: 360px;
    }
}

@media (min-width: 480px) and (max-width: 599px) {
    .container {
        width: 400px;
    }
}

@media (min-width: 480px) {
    .col.xsmallext-1, .col.xsmallext-2, .col.xsmallext-3, .col.xsmallext-4,
    .col.xsmallext-5, .col.xsmallext-6, .col.xsmallext-7, .col.xsmallext-8 {
    }

    .col.xsmallext-1 {
        width: 12.5%;
    }
    .col.xsmallext-offset-1 {
        margin-left: 12.5%;
    }
    .col.xsmallext-push-1 {
        left: 12.5%;
    }
    .col.xsmallext-pull-1 {
        right: 12.5%;
    }

    .col.xsmallext-2 {
        width: 25%;
    }
    .col.xsmallext-offset-2 {
        margin-left: 25%;
    }
    .col.xsmallext-push-2 {
        left: 25%;
    }
    .col.xsmallext-pull-2 {
        right: 25%;
    }

    .col.xsmallext-3 {
        width: 37.5%;
    }
    .col.xsmallext-offset-3 {
        margin-left: 37.5%;
    }
    .col.xsmallext-push-3 {
        left: 37.5%;
    }
    .col.xsmallext-pull-3 {
        right: 37.5%;
    }

    .col.xsmallext-4 {
        width: 50%;
    }
    .col.xsmallext-offset-4 {
        margin-left: 50%;
    }
    .col.xsmallext-push-4 {
        left: 50%;
    }
    .col.xsmallext-pull-4 {
        right: 50%;
    }

    .col.xsmallext-5 {
        width: 62.5%;
    }
    .col.xsmallext-offset-5 {
        margin-left: 62.5%;
    }
    .col.xsmallext-push-5 {
        left: 62.5%;
    }
    .col.xsmallext-pull-5 {
        right: 62.5%;
    }

    .col.xsmallext-6 {
        width: 75%;
    }
    .col.xsmallext-offset-6 {
        margin-left: 75%;
    }
    .col.xsmallext-push-6 {
        left: 75%;
    }
    .col.xsmallext-pull-6 {
        right: 75%;
    }

    .col.xsmallext-7 {
        width: 87.5%;
    }
    .col.xsmallext-offset-7 {
        margin-left: 87.5%;
    }
    .col.xsmallext-push-7 {
        left: 87.5%;
    }
    .col.xsmallext-pull-7 {
        right: 87.5%;
    }

    .col.xsmallext-8 {
        width: 100%;
    }
    .col.xsmallext-offset-8 {
        margin-left: 100%;
    }
    .col.xsmallext-push-8 {
        left: 100%;
    }
    .col.xsmallext-pull-8 {
        right: 100%;
    }
}

/* SMALL SCREEN SIZE */
@media (min-width: 600px) {
    .col.small-1, .col.small-2, .col.small-3, .col.small-4,
    .col.small-5, .col.small-6, .col.small-7, .col.small-8 {
    }

    .col.small-1 {
        width: 12.5%;
    }

    .col.small-2 {
        width: 25%;
    }

    .col.small-3 {
        width: 37.5%;
    }

    .col.small-4 {
        width: 50%;
    }

    .col.small-5 {
        width: 62.5%;
    }

    .col.small-6 {
        width: 75%;
    }

    .col.small-7 {
        width: 87.5%;
    }

    .col.small-8 {
        width: 100%;
    }
}

/* SMALL-EXTENDED SCREEN SIZE */
@media (min-width: 600px) and (max-width: 719px) {
    .container {
        width: 480px;
    }
}

@media (min-width: 720px) and (max-width: 839px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 840px) and (max-width: 959px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 840px) {
    .container, .container-fluid, .container-standard, .col {
        padding: 0 12px;
    }

    .row.row-nested {
        margin: 0 -12px;
    }

    .col.smallext-1, .col.smallext-2, .col.smallext-3, .col.smallext-4,
    .col.smallext-5, .col.smallext-6, .col.smallext-7, .col.smallext-8,
    .col.smallext-9, .col.smallext-10, .col.smallext-11, .col.smallext-12 {
    }

    .col.smallext-1 {
        width: 8.33333333%;
    }

    .col.smallext-2 {
        width: 16.66666667%;
    }

    .col.smallext-3 {
        width: 25%;
    }

    .col.smallext-4 {
        width: 33.33333333%;
    }

    .col.smallext-5 {
        width: 41.66666667%;
    }

    .col.smallext-6 {
        width: 50%;
    }

    .col.smallext-7 {
        width: 58.33333333%;
    }

    .col.smallext-8 {
        width: 66.66666667%;
    }

    .col.smallext-9 {
        width: 75%;
    }

    .col.smallext-10 {
        width: 83.33333333%;
    }

    .col.smallext-11 {
        width: 91.66666667%;
    }

    .col.smallext-12 {
        width: 100%;
    }
}

/* MEDIUM SCREEN SIZE */
@media (min-width: 960px) {
    .col.medium-1, .col.medium-2, .col.medium-3, .col.medium-4,
    .col.medium-5, .col.medium-6, .col.medium-7, .col.medium-8,
    .col.medium-9, .col.medium-10, .col.medium-11, .col.medium-12 {
    }

    .col.medium-1 {
        width: 8.33333333%;
    }

    .col.medium-2 {
        width: 16.66666667%;
    }

    .col.medium-3 {
        width: 25%;
    }

    .col.medium-4 {
        width: 33.33333333%;
    }

    .col.medium-5 {
        width: 41.66666667%;
    }

    .col.medium-6 {
        width: 50%;
    }

    .col.medium-7 {
        width: 58.33333333%;
    }

    .col.medium-8 {
        width: 66.66666667%;
    }

    .col.medium-9 {
        width: 75%;
    }

    .col.medium-10 {
        width: 83.33333333%;
    }

    .col.medium-11 {
        width: 91.66666667%;
    }

    .col.medium-12 {
        width: 100%;
    }
}

/* LARGE SCREEN SIZE */
@media (min-width: 960px) and (max-width: 1023px) {
    .container {
        width: 840px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .container {
        width: 1024px;
    }
}

@media (min-width: 1280px) {
    .col.large-1, .col.large-2, .col.large-3, .col.large-4,
    .col.large-5, .col.large-6, .col.large-7, .col.large-8,
    .col.large-9, .col.large-10, .col.large-11, .col.large-12 {
    }

    .col.large-1 {
        width: 8.33333333%;
    }

    .col.large-2 {
        width: 16.66666667%;
    }

    .col.large-3 {
        width: 25%;
    }

    .col.large-4 {
        width: 33.33333333%;
    }

    .col.large-5 {
        width: 41.66666667%;
    }

    .col.large-6 {
        width: 50%;
    }

    .col.large-7 {
        width: 58.33333333%;
    }

    .col.large-8 {
        width: 66.66666667%;
    }

    .col.large-9 {
        width: 75%;
    }

    .col.large-10 {
        width: 83.33333333%;
    }

    .col.large-11 {
        width: 91.66666667%;
    }

    .col.large-12 {
        width: 100%;
    }
}

/* X-LARGE SCREEN SIZE */
@media (min-width: 1440px) and (max-width: 1599px) {
    .container {
        width: 1280px;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    .container {
        width: 1440px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1600px;
    }

    .col.xlarge-1, .col.xlarge-2, .col.xlarge-3, .col.xlarge-4,
    .col.xlarge-5, .col.xlarge-6, .col.xlarge-7, .col.xlarge-8,
    .col.xlarge-9, .col.xlarge-10, .col.xlarge-11, .col.xlarge-12 {
    }

    .col.xlarge-1 {
        width: 8.33333333%;
    }

    .col.xlarge-2 {
        width: 16.66666667%;
    }

    .col.xlarge-3 {
        width: 25%;
    }

    .col.xlarge-4 {
        width: 33.33333333%;
    }

    .col.xlarge-5 {
        width: 41.66666667%;
    }

    .col.xlarge-6 {
        width: 50%;
    }

    .col.xlarge-7 {
        width: 58.33333333%;
    }

    .col.xlarge-8 {
        width: 66.66666667%;
    }

    .col.xlarge-9 {
        width: 75%;
    }

    .col.xlarge-10 {
        width: 83.33333333%;
    }

    .col.xlarge-11 {
        width: 91.66666667%;
    }

    .col.xlarge-12 {
        width: 100%;
    }
}

/* MATERIAL GUIDELINES BREAKPOINTS */

@media (min-width: 1920px) {
}

@media (min-width: 1600px) and (max-width: 1919px) {
}

@media (min-width: 1440px) and (max-width: 1599px) {
}

@media (min-width: 1280px) and (max-width: 1439px) {
}

@media (min-width: 960px) and (max-width: 1279px) {
}

@media (min-width: 840px) and (max-width: 959px) {
}

@media (min-width: 720px) and (max-width: 839px) {
}

@media (min-width: 600px) and (max-width: 719px) {
}

@media (min-width: 480px) and (max-width: 599px) {
}

@media (min-width: 400px) and (max-width: 479) {
}

@media (min-width: 360px) and (max-width: 399px) {
}
