@font-face {
    font-family: 'roboto_black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_blackitalic';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bolditalic';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_italic';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_lightitalic';
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_mediumitalic';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_thinitalic';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed_bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed_bolditalic';
    src: url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed_italic';
    src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed_light';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed_lightitalic';
    src: url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed_regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ARABIC FONTS: NOTO SANS; */

@font-face {
    font-family: 'arabic_notosans_black';
    src: url('../fonts/arabic/NotoSansArabic-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_bold';
    src: url('../fonts/arabic/NotoSansArabic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_extrabold';
    src: url('../fonts/arabic/NotoSansArabic-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_extralight';
    src: url('../fonts/arabic/NotoSansArabic-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_light';
    src: url('../fonts/arabic/NotoSansArabic-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_medium';
    src: url('../fonts/arabic/NotoSansArabic-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_regular';
    src: url('../fonts/arabic/NotoSansArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_semibold';
    src: url('../fonts/arabic/NotoSansArabic-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arabic_notosans_thin';
    src: url('../fonts/arabic/NotoSansArabic-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}